.body_backround{
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
}
h1{
    font-family: cursive;
    color:red;
    font-size: 40px;
}
#mycanvas{
    border: 10px ridge black;
    background-color: white;
}